.thumb {
    display: block;
    width: 100%;
    margin: 0;
}

.media-list .by-author {
    font-style: italic;
    line-height: 1.3;
    color: #aab6aa;
    margin-bottom: 0;
}
.media-list .media-heading {
    color: #223176;
}
.media-body {
    margin-left: 20px;
}

.featured-article {
    width: auto;
    height: auto;
    position: relative;
    margin-bottom: 1em;
}
.description a {
    color: #223176;
}

.featured-article .block-title {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    padding: .5em;
    width: 100%;
    color: #fff;
}

.media-object {
    width: 125px;
    height: auto;
}

.article-main-title {
    color: #223176;
}

.article-sub-title {
    color: #4bb869;
}

.title-divider {
    overflow: hidden;

    border-bottom-style: solid;

    border-bottom-width: 1px;

    padding-top: 0.6em;
}

.featured-article .block-title h2 {
    margin: 0;
}

.main-list .media {
    padding-bottom: 1.1em;
    padding-top: 1.1em;
    border-bottom: 1px solid #e8e8e8;
}
.main-list .media:first-child {
    padding-top: 0;
}

@media (max-width: 767px) {
    .media-list {
        padding-left: 0;
    }
}

@media (max-width: 1199px) {
    .block-title h2 {
        font-size: 1rem;
    }

    .media-list .media-heading {
        font-size: 1rem;
    }

    .media-list .by-author {
        font-size: 12px;
    }
}