body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.about-town {
    padding-top: 55px;
    padding-bottom: 55px;
    background-image: url(../img/background-about-town.png);
    height: auto;
}
.about-town-title {
    font-size: 30px;
    color: #fff;
}
.about-town-title strong {
   font-family: 'Playfair Display', serif;
    font-weight: 900;
}
.about-town-subtitle {
    color: #4bb869;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 30px;
}
.about-town-description {
    color: #fff;
    line-height: 2.0;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}
.btn-success {
    background-color: #45b268;
    border-radius: none;
    padding: 10px 20px;
}