/**!
 * b4st CSS
 */

/* Sticky Footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background: #f1f1f1;
}
main {
    flex: 1 0 auto;
}

.site-header-image {
	display: block;
	margin: auto;
}

.top-header {
  background: #192e59;
  color: #fff;
}

.btn-green {
  background: #39b464;
  color: #fff;
  border:1px solid #39b464;
  padding: 10px 15px;
}

.btn-green:hover {
  color: #fff;
}

.btn-border-green {
  background: #fff;
  color: #333;
  border: 1px solid #fff;
  border-left:5px solid #39b464;
  padding: 10px 15px;
  font-size: 16px;
}

.header-info {
  padding: 10px 0;
  display: block;
  color: #9cb0d9;
}

html, body.mce-content-body {
    /* Fixes Post Editor */
    height: inherit !important;
}

.page-content h1 {
  font-size: 28px;
}

.navbar {
  padding: 0;
}

.nav-link {
  padding: 35px 0 30px 0;
  font-weight: 500;
}

.navbar-light .navbar-nav .active >.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    border-bottom: 4px solid #39b464;
    color: #39b464;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown-menu {
  border-radius: 0;
  border: 0px solid #fff;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
  margin: 0;
  padding: 0;
}

.dropdown-item {
  padding: 10px 25px;
  border-bottom: 1px solid #f1f1f1;
}

.dropdown-item:hover {
  background: #39b464;
  color: #fff;
}

.white-box {
  margin-bottom: 20px;
  background: #fff;
  padding: 15px;
    -webkit-box-shadow: 2px 3px 5px -1px rgba(0,0,0,0.08);
  -moz-box-shadow: 2px 3px 5px -1px rgba(0,0,0,0.08);
  box-shadow: 2px 3px 5px -1px rgba(0,0,0,0.08);
  border-radius: 5px;
}

.consiliu-local.imagine {
  margin-bottom: 15px;
  display: block;
}

.consilier-local.nume {
  font-size: 18px;
  font-weight: 600;
  margin: 0px;
}

@media (min-width: 576px) {
  .consiliul-local .modal-dialog {
      max-width: 100%;
      margin: 0;
  }
}

.consiliul-local .modal-content {
  background: #f1f1f1;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  right: 0;
}

.consiliul-local .lastNameBolded {
  font-weight: 800;
}

.border-bottom {
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 15px;
}

.consilier-local.functie {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

.hotarari-emise-content {
}

.hotarari-emise-content header {
  margin-bottom: 0;
}

.hotarari-emise-content header h5 {
  margin: 0;
  font-size: 22px;
  margin-bottom: 10px;
}

.hotarari-emise-content h3 {
  font-size: 18px;
  display: none;
}

.hotarari-emise-content ul.post-attachments {
  margin: 0;
  padding: 0;
}

.br-0 {
  border-radius: 0;
}

.bg-white {
  background-color: #fff!important;
  -webkit-box-shadow: 2px 3px 5px -1px rgba(0,0,0,0.08);
-moz-box-shadow: 2px 3px 5px -1px rgba(0,0,0,0.08);
box-shadow: 2px 3px 5px -1px rgba(0,0,0,0.08);
}

.hero-carousel {
  color: #fff;
}

.hero-subtile {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 15px;
}

.hero-title {
  font-size: 72px;
  font-family: 'Playfair Display', serif;
  margin-bottom: 25px;
}

.hero-title::last-word {
  font-weight: 900;
}

.hero-desc {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: 34px;
  margin-bottom: 30px;
}

.tool-nav-img {
    float: left;
    margin-right: 10px;
    width: 35px
}

.tool-nav-title {
    font-size: 15px;
    font-weight: 500;
    color: #162647;
}

.tool-nav-desc {
    display: block;
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 0;
}

.benefits-and-mayor-info {
  z-index: 2;
  padding-bottom: 100px;
}

.tool-nav {
    margin-top: -50px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    z-index: 2;
    padding: 0 15px;
}

.tool-nav-link {
   padding: 20px 15px;
   color: #162647;
}

.tool-nav-link:hover {
  text-decoration: none;
  background: #f1f1f1;
  color: #162647;
}

.tool-nav-link:first-child:hover {
  border-radius: 5px 0 0 0;
}

.tool-nav-link:last-child:hover {
  border-radius: 0 5px 0 0;
}

.about-major {
    background-color: #121e37;
}

.about-inner {
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 10px;
    padding-right: 30px;
}
.about-major-title {
    font-size: 30px;
    line-height: 1.6;
    color: #fff;
    padding-bottom: 25px;
    font-weight: 500;
}
.about-major-title span {
    display: block;
    font-size: 15px;
    font-weight: 200;
}
.about-major p {
    color: #fff;
    font-weight: 200;
}

.about-town {
    padding-top: 55px;
    padding-bottom: 55px;
    background: url('../img/background-about-town.png') no-repeat center center;
    background-size: cover;
    height: auto;
}
.about-town-title {
    font-size: 30px;
    color: #fff;
}
.about-town-title strong {
   font-family: 'Playfair Display', serif;
    font-weight: 900;
}
.about-town-subtitle {
    color: #4bb869;
    font-weight: 500;
    font-size: 30px;
}
.about-town-description {
    color: #fff;
    line-height: 2.0;
    font-weight: 200;
}

.btn-success {
    background-color: #45b268;
    border-radius: none;
    padding: 10px 20px;
}

.carousel-item {
  padding: 140px 0;
}

.wp-caption {}
.wp-caption-text {}
.sticky {}
.screen-reader-text {}
.gallery-caption {}

.bypostauthor {}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	clear: both;
	display: block;
}

/* Max img widths */

img,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

/* Author bio */

.author-bio .avatar {
	border: 1px solid #dee2e6;
	border-radius: 50%;
}

/* Main content */

/* Sidebar */

/* Hide form placeholders on focus */

input:focus::-webkit-input-placeholder { color: transparent; }
input:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
textarea:focus::-webkit-input-placeholder { color: transparent; }
textarea:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color: transparent; } /* FF 19+ */

/* Comments */

#comments,
#reply-title {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

.commentlist,
.commentlist ul {
	padding-left: 0;
}

.commentlist li {
	padding: 1rem;
}

.comment-meta {
	margin-bottom: 1rem;
}
.commentlist .children {
	margin-top: 1rem;
}

.thumb {
    display: block;
    width: 100%;
    margin: 0;
}

.media-list .by-author {
    font-style: italic;
    line-height: 1.3;
    color: #aab6aa;
    margin-bottom: 0;
    font-size: 16px;
}
.media-list .media-heading {
    color: #223176;
    padding: 0;
}
.media-body {
    margin-left: 20px;
}

.featured-article {
    width: auto;
    height: auto;
    position: relative;
    margin-bottom: 1em;
}
.description {
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.description a {
    color: #223176;
}

.featured-article .block-title {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    padding: .5em;
    width: 100%;
    color: #fff;
}

.media-object {
    width: 125px;
    height: auto;
}

.article-main-title {
    color: #223176;
}

.article-sub-title {
    color: #4bb869;
}

.title-divider {
    overflow: hidden;

    border-bottom-style: solid;

    border-bottom-width: 1px;

    padding-top: 0.6em;
}

.featured-article .block-title h2 {
    margin: 0;
}

.main-list .media {
    padding-bottom: 1.1em;
    padding-top: 1.1em;
    border-bottom: 1px solid #e8e8e8;
}
.main-list .media:first-child {
    padding-top: 0;
}

@media (max-width: 767px) {
    .media-list {
        padding-left: 0;
    }
}

@media (max-width: 1199px) {
    .block-title h2 {
        font-size: 1rem;
    }

    .media-list .media-heading {
        font-size: 1rem;
    }

    .media-list .by-author {
        font-size: 12px;
    }
}

section.content-row {
  padding: 100px 0;
}

.page-plata-amenzi {
  overflow: hidden!important;
}

/* Site footer */
.col_white_amrc {
    color: #fff;
}

footer {
    width: 100%;
    background-color: #192e59;
    min-height: 250px;
    padding: 10px 0px 25px 0px;
    color: #fff;
}

.pt2 {
    padding-top: 40px;
    margin-bottom: 20px;
}

footer p {
    font-size: 13px;
    color: #fff;
    padding-bottom: 0px;
    margin-bottom: 8px;
}

.mb10 {
    padding-bottom: 15px;
}

.footer_ul_amrc {
    margin: 0px;
    list-style-type: none;
    font-size: 14px;
    padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
    padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
    color: #fff;
}

.footer_ul_amrc li a:hover {
    color: #ccc;
    text-decoration: none;
}

.fleft {
    float: left;
}

.padding-right {
    padding-right: 10px;
}

.footer_ul2_amrc {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

.footer_ul2_amrc li p {
    display: table;
}

.footer_ul2_amrc li a:hover {
    text-decoration: none;
}

.footer_ul2_amrc li i {
    margin-top: 5px;
}

.bottom_border {
    border-bottom: 1px solid #4bb869;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.foote_bottom_ul_amrc {
    list-style-type: none;
    padding: 0px;
    display: table;
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

.foote_bottom_ul_amrc li {
    display: inline;
}

.foote_bottom_ul_amrc li a {
    color: #fff;
    margin: 0 12px;
}

.social_footer_ul {
    display: table;
    margin: 15px auto 0 auto;
    list-style-type: none;
    padding-left: 0;
}

.social_footer_ul li {
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.social_footer_ul li a {
    color: #fff;
    border: 1px solid #fff;
    padding: 8px;
    border-radius: 50%;
}

.social_footer_ul li i {
    width: 20px;
    height: 20px;
    text-align: center;
}
