/**!
 * b4st CSS
 */

/* Sticky Footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}
main {
    flex: 1 0 auto;
}

.site-header-image {
	display: block;
	margin: auto;
}

.top-header {
  background: #192e59;
  color: #fff;
}

.btn-green {
  background: #39b464;
  color: #fff;
  border:1px solid #39b464;
  padding: 10px 15px;
}

.btn-border-green {
  background: #fff;
  color: #333;
  border: 1px solid #fff;
  border-left:5px solid #39b464;
  padding: 10px 15px;
  font-size: 16px;
}

.header-info {
  padding: 10px 0;
  display: block;
  color: #9cb0d9;
}

.navbar {
  padding: 0;
}

.nav-link {
  padding: 35px 0 30px 0;
  font-weight: 500;
}

.navbar-light .navbar-nav .active >.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    border-bottom: 4px solid #39b464;
    color: #39b464;
}


.br-0 {
  border-radius: 0;
}

.bg-white {
  background-color: #fff!important;
}

.hero-carousel {
  color: #fff;
}

.hero-subtile {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 15px;
}

.hero-title {
  font-size: 72px;
  font-family: 'Playfair Display', serif;
  margin-bottom: 25px;
}

.hero-title::last-word {
  font-weight: 900;
}

.hero-desc {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: 34px;
  margin-bottom: 30px;
}

.website-benefits-and-mayor-info {
  z-index: 2;
  color: #162647;
}

.website-benefits-container {
  background: #fff;
  margin-top: -50px;
  border-radius: 5px;
  padding: 25px 15px;
}

.website-benefits-content-holder i {
  font-size: 52px;
  margin-right: 10px;
  line-height: 1;
}

.website-benefits-content-holder h5 {
  font-size: 17px;
  margin-bottom: 3px;
}

.website-benefits-content-holder p {
  font-size: 14px;
  margin-bottom: 0;
}

.mayor-info {
  background: #121e37;
  color: #fff;
}

.carousel-item {
  padding: 140px 0;
}

.wp-caption {}
.wp-caption-text {}
.sticky {}
.screen-reader-text {}
.gallery-caption {}

.bypostauthor {}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	clear: both;
	display: block;
}

/* Max img widths */

img,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

/* Author bio */

.author-bio .avatar {
	border: 1px solid #dee2e6;
	border-radius: 50%;
}

/* Main content */

/* Sidebar */

/* Hide form placeholders on focus */

input:focus::-webkit-input-placeholder { color: transparent; }
input:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
textarea:focus::-webkit-input-placeholder { color: transparent; }
textarea:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color: transparent; } /* FF 19+ */

/* Comments */

#comments,
#reply-title {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

.commentlist,
.commentlist ul {
	padding-left: 0;
}

.commentlist li {
	padding: 1rem;
}

.comment-meta {
	margin-bottom: 1rem;
}
.commentlist .children {
	margin-top: 1rem;
}

/* Site footer */
